.App {
  text-align: center;
}

.footer{
  background-color: #d1d1d1;
  margin: 0px auto;
  padding-top: 10px;
  position: fixed ;
  bottom: 0;
  width: 100%;

}
.row-content {
  margin: 0px;
  padding: 50px;
  min-height: 400px ;
}